<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <div class="container">
        <a href="#" class="navbar-brand"><i class="fa fa-cube"></i>settings <b>infotech</b></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
            <div class="navbar-nav">
                <a href="javascript:void(0)" class="nav-item nav-link active">Home</a>
                <a href="javascript:void(0)" class="nav-item nav-link">About</a>
                <a href="javascript:void(0)" class="nav-link nav-link">Services</a>
                <a href="javascript:void(0)" class="nav-item nav-link">Blog</a>
                <a href="javascript:void(0)" class="nav-item nav-link">Contact</a>
            </div>
            <form class="navbar-form form-inline">
                <div class="input-group search-box">								
                    <input type="text" id="search" class="form-control" placeholder="Search by Name">
                    <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                </div>
            </form>
            <div class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link notifications"><i class="fa fa-heart heart-icon"></i><span class="badge">1</span></a>
                <a href="#" class="nav-item nav-link messages"><i class="fa fa-shopping-cart"></i><span class="badge">{{data}}</span></a>
                <a href="#" class="mr-0" class="nav-link user-action"><img src="https://static8.depositphotos.com/1258191/1030/i/600/depositphotos_10301580-stock-photo-touchscreen-interface.jpg" class="avatar" alt="Avatar"></a>
            </div>
        </div>
    </div>
</nav>