footer {
    padding: 4rem 0;
    background-color: hsl(0deg 14% 95%);
  }
  
  .footer-column:not(:first-child) {
    padding-top: 2rem;
  }
  @media (min-width: 768px) {
    .footer-column:not(:first-child) {
      padding-top: 0rem;
    }
  }
  
  .footer-column {
    text-align: center;
  }
  .footer-column .nav-item .nav-link {
    padding: 0.1rem 0;
  }
  .footer-column .nav-item span.nav-link {
    color: #6c757d;
  }
  .footer-column .nav-item span.footer-title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }
  .footer-column .nav-item .fas {
    margin-right: 0.5rem;
  }
  .footer-column ul {
    display: inline-block;
  }
  @media (min-width: 768px) {
    .footer-column ul {
      text-align: left;
    }
  }
  
  ul.social-buttons {
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  /* ul.social-buttons li a:active,
  ul.social-buttons li a:focus,
  ul.social-buttons li a:hover {
    background-color: #ff0d0d;
  } */
  
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #7e7d7d;
    border-radius: 100%;
    outline: 0;
    /* background-color: #1a1d20; */
  }
  
  footer .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .copyright {
    color: white;
  }
  
  .fa-ellipsis-h {
    color: rgb(214, 197, 197);
    padding: 2rem 0;
  }

  ul.footer-category {
    padding: 0;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}
ul.footer-category li {
    list-style-type: none;
}
ul.footer-category li a{
    color: #222;
}
.sub-category li {
    list-style-type: none;
    padding: 0 5px;
    border-right: 1px solid #878383;
    line-height: 0.8;
}
.sub-category li a{
    color: #878383;
}
.sub-category li:last-child{
    border: none;
}
.sub-category ul {
    display: flex;
    padding: 0;
    opacity: 0.7;
}
.footer-main{
    display: flex;
    align-items: center;
}
.sub-catogory ul {
    padding: 0;
    opacity: 0.7;
    display: inline-flex;
}
.sub-catogory ul li {
    list-style-type: none;
    padding: 0 5px;
    border-right: 1px solid #878383;
    line-height: 0.8;
}
.sub-catogory ul li a{
    color: #878383;
}
.sub-catogory ul li:last-child{
    border: none;
}
footer a.navbar-brand {
    color: #7e7d7d;
}
.copy-right{
    color: #7e7d7d;
    font-size: 13px;
}

@media (max-width:1199px){
    ul.footer-category li{
        font-size: 14px;
    }
    .sub-category li a{
        font-size: 12px;
    }
    footer .navbar-brand{
        font-size: 1rem;
    }
    ul.social-buttons{
        font-size: 14px;
        margin-bottom: 0;
    }
    .sub-catogory ul li{
        font-size: 12px;
    }
}
@media (max-width:991px){
    .sub-category ul{
        justify-content: center;
    }
}