<footer>
    <div class="container">
      <div class="row text-center footer-main">
        <div class="col-lg-5 box">
            <ul class="footer-category">
                <li><a href="javascript:void(0)">men</a></li>
                <li><a href="javascript:void(0)">woman</a></li>
                <li><a href="javascript:void(0)">baby & kind</a></li>
                <li><a href="javascript:void(0)">home fashion</a></li>
                <li><a href="javascript:void(0)">offers</a></li>
            </ul>
            <div class="sub-category">
                <ul>
                    <li><a href="javascript:void(0)">jeans</a></li>
                    <li><a href="javascript:void(0)">formal</a></li>
                    <li><a href="javascript:void(0)">kurti</a></li>
                    <li><a href="javascript:void(0)">shirt</a></li>
                    <li><a href="javascript:void(0)">t-shirt</a></li>
                    <li><a href="javascript:void(0)">bags</a></li>
                    <li><a href="javascript:void(0)">belt</a></li>
                    <li><a href="javascript:void(0)">dhotis</a></li>
                    <li><a href="javascript:void(0)">sarees</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 box">
            <a href="#" class="navbar-brand"><i class="fa fa-cube"></i>settings <b>infotech</b></a>
            <p class="copy-right">copyright 2016 great minds</p>
        </div>
        <div class="col-lg-5 box">
            <ul class="list-inline social-buttons">
                <li class="list-inline-item">about</li>
                <li class="list-inline-item">contact us</li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                  <i class="fa fa-google" aria-hidden="true"></i>
                </a>
                </li>
            </ul>
            <div class="sub-catogory">
                <ul>
                    <li><a href="javascript:void(0)">terms & condition</a></li>
                    <li><a href="javascript:void(0)">privacy policy</a></li>
                    <li><a href="javascript:void(0)">company</a></li>
                    <li><a href="javascript:void(0)">policies</a></li>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </footer>