.main-slide{
    background-image: url(https://www.wallpapertip.com/wmimgs/1-19122_white-blur-background-hd.jpg);
}
.slide-inner-img img{
    max-width: 100%;
}
.main-slide {
    padding: 20px 0;
}
.slide-dsc{
    font-size: 48px;
    text-transform: uppercase;
}
.slide-dsc span {
    color: #bf2018;
    font-weight: bold;
}

/* trending-now  */
.trending-now{
    margin: 50px 0;
}

/* new-arrivals */
.new-arrivals{
    margin-bottom: 50px;
}

/* recently-viewed */
.recently-viewed{
    margin-bottom: 50px;
}

/* new-arrivals */
.similar-product{
    margin-bottom: 50px;
}

.title-slide-prod{
    font-size: 26px;
    background-color: #fff;
    z-index: 14;
    display: inline-block;
    font-weight: 500;
    padding: 0 15px;
    text-transform: uppercase;
}
.title-slide-prod-main {
    text-align: center;
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
}
.title-slide-prod-main:after {
    content: '------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------';
    top: 3px;
    height: 5px;
    position: absolute;
    left: 0;
    line-height: 1;
    z-index: -1;
}

/* cart-heart-section */
.cart-heart{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 20px;
    position: absolute;
    width: 100%;
    top: 10px;
}
.cart-heart .cart-icon{
    color: #ddd;
    cursor: pointer;
}
.cart-heart .heart-icon{
    color: rgb(167, 5, 5);
    cursor: pointer;
}
.dsc-product p {
    margin-bottom: 0;
}

.dsc-product-title {
    font-weight: bold;
    color: #878787;
}
.dsc-product-price{
    color: #222;
    font-weight: bold;
    font-size: 18px;
}
.images-section {
    height: 350px;
}
/* cart-heart-section-end */

.owl-carousel .owl-item img{
    max-height: 100%;
}
/* stars-rating */
  .rating-group {
    display: inline-flex;
  }
  
  /* make hover effect work properly in IE */
  .rating__icon {
    pointer-events: none;
  }
  
  /* hide radio inputs */
  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }
  
  /* hide 'none' input from screenreaders */
  .rating__input--none {
    display: none
  }

  /* set icon padding and size */
  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 1rem;
  }
  
  /* set default star color */
  .rating__icon--star {
    color: orange;
  }

  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }
  
  /* make all stars orange on rating group hover */
  .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
  }

  /* make hovered input's following siblings grey on hover */
  .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  
@media (max-width:767px){
    .slide-dsc{
        font-size: 30px;
        padding: 0 15px !important;
    }
    .slide-inner-img img{
        padding: 0 15px !important;
    }
}