<app-header></app-header>
<div class="main-slide">
    <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 col-12 slide-dsc p-0">
            now a wide range of <span>krutis</span> to choose from!
          </div>
          <div class="col-lg-8 col-12 slide-inner-img p-0">
            <img src="https://www.hdnicewallpapers.com/Walls/Big/Nature%20and%20Landscape/Beautiful_Nature_Background_Wallpapers.jpg" alt="images"/>
          </div>
        </div>
    </div>
</div>

<div class="trending-now">
    <div class="container">
        <div class="title-slide-prod-main">
            <div class="title-slide-prod">trending now</div>
        </div>
        <owl-carousel-o [options]="trending">
            <ng-template carouselSlide>
                <img src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072821__340.jpg" alt="images">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072821__340.jpg" alt="images">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072821__340.jpg" alt="images">
            </ng-template>  
          </owl-carousel-o>
    </div>
</div>

<div class="new-arrivals">
    <div class="container">
        <div class="title-slide-prod-main">
            <div class="title-slide-prod">new arrivals</div>
        </div>
        <owl-carousel-o [options]="arrivals">
            <ng-container *ngFor="let data of productData">
                <ng-template carouselSlide>
                    <div class="product-section">
                        <div class="images-section">
                             <img  [src]="data.images">
                             <div class="cart-heart">
                                 <i class="fa fa-shopping-cart cart-icon" aria-hidden="true" (click)="addToCart($event)"></i>
                                 <i class="fa fa-heart heart-icon" aria-hidden="true"></i>
                             </div>
                        </div>
                        <div class="dsc-product">
                             <div class="dsc-product-title">{{data.brand_name}}</div>
                             <p>{{data.product_name}}</p>
                             <div class="dsc-product-price">₹ {{data.price}}</div>
                             <div class="dsc-product-rating">
                                 <div id="full-stars-example-two">
                                     <div class="rating-group">
                                         <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                                         <label aria-label="1 star" class="rating__label" for="rating3-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                         <input class="rating__input" name="rating3" id="rating3-1" value="1" type="radio">
                                         <label aria-label="2 stars" class="rating__label" for="rating3-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                         <input class="rating__input" name="rating3" id="rating3-2" value="2" type="radio">
                                         <label aria-label="3 stars" class="rating__label" for="rating3-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                         <input class="rating__input" name="rating3" id="rating3-3" value="3" type="radio">
                                         <label aria-label="4 stars" class="rating__label" for="rating3-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                         <input class="rating__input" name="rating3" id="rating3-4" value="4" type="radio">
                                         <label aria-label="5 stars" class="rating__label" for="rating3-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                         <input class="rating__input" name="rating3" id="rating3-5" value="5" type="radio">
                                     </div>
                                 </div>
                             </div>
                        </div>
                     </div>
                </ng-template>
              </ng-container>  
          </owl-carousel-o>
    </div>
</div>

<div class="recently-viewed">
    <div class="container">
        <div class="title-slide-prod-main">
            <div class="title-slide-prod">recently viewed</div>
        </div>
        <owl-carousel-o [options]="recently">
            <ng-container *ngFor="let data of productData">
                <ng-template carouselSlide>
                    <div class="product-section">
                        <div class="images-section">
                             <img  [src]="data.images">
                             <div class="cart-heart">
                                 <i class="fa fa-shopping-cart cart-icon" aria-hidden="true"  (click)="addToCart($event)"></i>
                                 <i class="fa fa-heart heart-icon" aria-hidden="true"></i>
                             </div>
                        </div>
                        <div class="dsc-product">
                             <div class="dsc-product-title">{{data.brand_name}}</div>
                             <p>{{data.product_name}}</p>
                             <div class="dsc-product-price">₹ {{data.price}}</div>
                             <div class="dsc-product-rating">
                                 <div id="full-stars-example-two">
                                     <div class="rating-group">
                                         <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                                         <label aria-label="1 star" class="rating__label" for="rating3-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                         <input class="rating__input" name="rating3" id="rating3-1" value="1" type="radio">
                                         <label aria-label="2 stars" class="rating__label" for="rating3-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                         <input class="rating__input" name="rating3" id="rating3-2" value="2" type="radio">
                                         <label aria-label="3 stars" class="rating__label" for="rating3-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                         <input class="rating__input" name="rating3" id="rating3-3" value="3" type="radio">
                                         <label aria-label="4 stars" class="rating__label" for="rating3-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                         <input class="rating__input" name="rating3" id="rating3-4" value="4" type="radio">
                                         <label aria-label="5 stars" class="rating__label" for="rating3-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                         <input class="rating__input" name="rating3" id="rating3-5" value="5" type="radio">
                                     </div>
                                 </div>
                             </div>
                        </div>
                     </div>
                </ng-template>
              </ng-container>  
          </owl-carousel-o>
    </div>
</div>

<div class="similar-product">
    <div class="container">
        <div class="title-slide-prod-main">
            <div class="title-slide-prod">similar product</div>
        </div>
        <owl-carousel-o [options]="similar">
            <ng-container *ngFor="let data of productData">
                <ng-template carouselSlide>
                    <div class="product-section">
                        <div class="images-section">
                             <img  [src]="data.images">
                             <div class="cart-heart">
                                 <i class="fa fa-shopping-cart cart-icon" aria-hidden="true"  (click)="addToCart($event)"></i>
                                 <i class="fa fa-heart heart-icon" aria-hidden="true"></i>
                             </div>
                        </div>
                        <div class="dsc-product">
                             <div class="dsc-product-title">{{data.brand_name}}</div>
                             <p>{{data.product_name}}</p>
                             <div class="dsc-product-price">₹ {{data.price}}</div>
                             <div class="dsc-product-rating">
                                 <div id="full-stars-example-two">
                                     <div class="rating-group">
                                         <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                                         <label aria-label="1 star" class="rating__label" for="rating3-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                         <input class="rating__input" name="rating3" id="rating3-1" value="1" type="radio">
                                         <label aria-label="2 stars" class="rating__label" for="rating3-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                         <input class="rating__input" name="rating3" id="rating3-2" value="2" type="radio">
                                         <label aria-label="3 stars" class="rating__label" for="rating3-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                         <input class="rating__input" name="rating3" id="rating3-3" value="3" type="radio">
                                         <label aria-label="4 stars" class="rating__label" for="rating3-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                         <input class="rating__input" name="rating3" id="rating3-4" value="4" type="radio">
                                         <label aria-label="5 stars" class="rating__label" for="rating3-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                         <input class="rating__input" name="rating3" id="rating3-5" value="5" type="radio">
                                     </div>
                                 </div>
                             </div>
                        </div>
                     </div>
                </ng-template>
              </ng-container>  
          </owl-carousel-o>
    </div>
</div>