/* You can add global styles to this file, and also import other style files */
.owl-carousel .owl-item img{
  max-height: -webkit-fill-available;
}
@media (min-width:767px){
  .owl-carousel.owl-loaded {
    position: relative;
  }
  .owl-prev {
    position: absolute;
    left: -65px;
    margin: 0;
    text-align: center;
    top: 50%;
    background-color: inherit !important;
    font-size: 65px !important;
    color: #222 !important;
    transform: translateY(-50%);
  }
  .owl-next {
    position: absolute;
    right: -65px;
    margin: 0;
    text-align: center;
    top: 50%;
    background-color: inherit !important;
    font-size: 65px !important;
    color: #222 !important;
    transform: translateY(-50%);
  }
}